<!DOCTYPE html>
<html>
  <head>
    <script src="../vendor/jquery_2.0.1.js"></script>
    <script src="../vendor/batman.js"></script>
    <script src="../vendor/batman.jquery.js"></script>

    <script src="../dist/app/app.js"></script>
    <script src="../dist/app/controllers/dashboard_controller.js"></script>
    <script src="../dist/app/models/dashboard.js"></script>
    <script src="../dist/app/init.js"></script>
  </head>
  <body>
    <h1>Batman Panel</h1>
    <div data-yield="main"></div>
    
    <div data-defineview="dashboard/index">
      <div data-showif="showBlock">Show Me</div>
      <div data-showif="hideBlock">Don't Show Me</div>
    </div>
  </body>
</html>
