<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <link rel="stylesheet" type="text/css" href="../vendor/normalize.css">
    <link rel="stylesheet" type="text/css" href="../dist/main.css">
    <link href='http://fonts.googleapis.com/css?family=Noto+Sans:400,700' rel='stylesheet' type='text/css'>

    <script src="../vendor/jquery.js"></script>
    <script src="../vendor/batman.js"></script>
    <script src="../vendor/batman.jquery.js"></script>

    <script src="../dist/app/app.js"></script>
    <script src="../dist/batman.shared.js"></script>

    <script src="../dist/app/lib/storage_adapter.js"></script>
    <script src="../dist/app/lib/app_observable.js"></script>

    <script src="../dist/app/controllers/dashboard_controller.js"></script>
    <script src="../dist/app/controllers/app_controllers_controller.js"></script>
    <script src="../dist/app/controllers/app_models_controller.js"></script>
    <script src="../dist/app/controllers/app_views_controller.js"></script>

    <script src="../dist/app/models/app_controller.js"></script>
    <script src="../dist/app/models/app_model.js"></script>
    <script src="../dist/app/models/app_view.js"></script>

    <script src="../dist/app/init.js"></script>
  </head>
  <body class="clearfix" >
    <nav id="main-nav">
      <ul>
        <li><a data-addclass-active="currentRoute.controller | equals 'dashboard'" data-route="routes.dashboard">Dashboard</a></li>
        <li><a data-addclass-active="currentRoute.controller | equals 'appControllers'" data-route="routes.appControllers">Controllers</a></li>
        <li><a data-addclass-active="currentRoute.controller | equals 'appModels'" data-route="routes.appModels">Models</a></li>
        <li><a data-addclass-active="currentRoute.controller | equals 'appViews'" data-route="routes.appViews">Views</a></li>
        <li><a data-addclass-active="currentRoute.controller | equals 'events'">Events</a></li>
      </ul>
    </nav>

    <div id="content" data-yield="main"></div>
    
    <div data-defineview="dashboard/index">
      <h3>Dashboard... coming soon</h3>
    </div>

    <div data-defineview="app_controllers/index">
      <div id="controller-container">
        <div class="current-controller">
          <span class="title-desc">Active Controller</span>
          <h2 class="title-large" data-bind="activeController.name"></h2>

          <ul class="controller-properties">
            <li class="route-info" data-showif="activeController.current">
              <span class="label">Route</span>
              <span class="uri-path" data-bind="activeController.path"></span>→ 
              <span class="route-path" data-bind="activeController.currentRouteWithKey"></span>
            </li>
            <li class="param-info">
              <span class="label">Params</span> 
              <span class="object-raw" data-bind="activeController.properties">{id: 46}</span>
            </li>
          </ul>
        </div>

        <ul id="controller-list">
          <li data-foreach-controller="controllers" data-addclass-active="activeController | equals controller" class="controller-item" data-event-click="setActive | withArguments controller" data-bind="controller.name"></li>
        </ul>
      </div>
    </div>

    <div data-defineview="app_models/index">
      <!--<h3>Models</h3>
      <ul>
        <li data-foreach-model="models">
          <span data-bind="model.name"></span>
          <ul>
            <li data-foreach-instance="model.instances">
              <span data-bind="instance.id"></span>
              <ul>
                <li data-foreach-key="instance.propertyKeys">
                  <span data-bind="key"></span>
                  <span data-bind="instance.properties[key]"></span>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>-->
    </div>

    <div data-defineview="app_views/index">
      <!--<h3>Views</h3>
      <ul>
        <li data-foreach-view="views">
          <span data-bind="view.name"></span>
        </li>
      </ul>
    </div>-->
  </body>
</html>
