<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <link rel="stylesheet" type="text/css" href="../vendor/normalize.css">
    <link rel="stylesheet" type="text/css" href="../dist/main.css">

    <script src="../vendor/jquery.js"></script>
    <script src="../vendor/batman.js"></script>
    <script src="../vendor/batman.jquery.js"></script>

    <script src="../dist/app/app.js"></script>
    <script src="../dist/batman.shared.js"></script>

    <script src="../dist/app/lib/storage_adapter.js"></script>
    <script src="../dist/app/lib/app_observable.js"></script>

    <script src="../dist/app/controllers/dashboard_controller.js"></script>
    <script src="../dist/app/controllers/app_controllers_controller.js"></script>
    <script src="../dist/app/controllers/app_models_controller.js"></script>
    <script src="../dist/app/controllers/app_views_controller.js"></script>

    <script src="../dist/app/models/app_controller.js"></script>
    <script src="../dist/app/models/app_model.js"></script>
    <script src="../dist/app/models/app_view.js"></script>

    <script src="../dist/app/init.js"></script>
  </head>
  <body>
    <nav id="sidebar">
      <ul>
        <li><a data-route="routes.dashboard">Dashboard</a></li>
        <li><a data-route="routes.appControllers">Controllers</a></li>
        <li><a data-route="routes.appModels">Models</a></li>
        <li><a data-route="routes.appViews">Views</a></li>
        <li><a>Events</a></li>
      </ul>
    </nav>

    <div data-yield="main"></div>
    
    <div data-defineview="dashboard/index">
      <div data-partial="app_controllers/index"></div>
      <div data-partial="app_models/index"></div>
      <div data-partial="app_views/index"></div>
    </div>

    <div data-defineview="app_controllers/index">
      <h3>Controllers</h3>
      <ul>
        <li data-foreach-controller="controllers">
          <span data-bind="controller.name"></span>
          <span data-bind="controller.action"></span>
          <span data-bind="controller.path"></span>
        </li>
      </ul>
    </div>

    <div data-defineview="app_models/index">
      <h3>Models</h3>
      <ul>
        <li data-foreach-model="models">
          <span data-bind="model.name"></span>
          <ul>
            <li data-foreach-instance="model.instances">
              <span data-bind="instance.id"></span>
              <ul>
                <li data-foreach-key="instance.propertyKeys">
                  <span data-bind="key"></span>
                  <span data-bind="instance.properties[key]"></span>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <div data-defineview="app_views/index">
      <h3>Views</h3>
      <ul>
        <li data-foreach-view="views">
          <span data-bind="view.name"></span>
        </li>
      </ul>
    </div>
  </body>
</html>
