body {
    background-color: #EAEBFB;
    color: #171722;
}

#sidebar {
    background-color: #1F1F27;
    height: 60px;

    ul {
        list-style: none;
    }

    li a {
        color: #A2A2BA;
        text-align: center;
        padding: 15px;

        &:hover {
            background-color: #2A2A32;
            color: #FFFFFF;    
        }
    }
}
